/***************************************
* file-name: product-list.css
* page-file-location: /products-list.html
* using: 제품리스트 페이지 css
* date: 2021-07-14
****************************************/

/** section1 **/
.product-bg { height: 540px; background-size: cover; background-image: url(/img_/bg/pd_page_bg.jpg); } 
.top-bg-cont-wrap { top: 59%; text-align: center; } 
/** ...section1 **/

/** product section **/
.product-section { width: 1200px; margin: 0 auto 110px; } 
.product-list { display: flex; flex-wrap: wrap; } 
.product { width: 49.1%; margin-right: 21px; margin-bottom: 90px; } 
.product:nth-child(2n) { margin-right: 0; } 
.product > a { display: block; background: #f4f2f5; } 
/** ...product section **/


